{% extends 'layout.html' %}

{% block body %}
<h1>Login</h1>
<form class="form-signin" action="" method="POST">
   <h3 class="h3 mb-3 font-weight-normal">Please sign in</h3>
      <!-- Username -->
      <div class="text-center">
     <label for="inputEmail" class="sr-only">Username</label>
     <input type="text" id="inputEmail" name="username" class="form-control"  placeholder="Email address" required autofocus value={{request.form.username}} >
     <br>
     <!-- Password -->
     <label for="inputPassword" class="sr-only">Password</label>
     <input type="password" id="inputPassword" name="password" class="form-control"  placeholder="Password" required value={{request.form.password}} >
     <br>
     <!-- <div class="checkbox mb-3">
       <label>
         <input type="checkbox" value="remember-me"> Remember me
       </label>
     </div> -->
     <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
     <!--<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>-->
   </div>
   </form>


{% endblock %}
